/* General styles for the Services page */
.main {
    text-align: center;
    padding: 5px;
}

/* Global h2 styles */
h2 {
    font-size: 58px; /* Set all h2 headings to 58px */
}

/* Global h4 styles */
h4 {
    font-size: 25px;
    font-weight: 100;
}

/* Section 1 specific styles */
.section1 {
    padding: 20px;
    margin: 0px;
    width: 100%;
    color: #f3f2f5; /* Adjust color as needed */
    margin-bottom: 10%;
}

.section1 .content-section1 {
    padding: 40px;
    display: inline-block;
    text-align: center;
}

.section1 .content-section1 h2 {
    font-weight: unset;
}

/* Section specific styles */
.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
    width: 100%;
    color: #f3f2f5;
    background-color: #011c2b; /* Changed background color */
}

.service-item {
    flex: 0 1 28%;
    margin: 14px -36px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f3f2f5;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05); /* Zoom-in effect on hover */
}

.service-item img {
    max-width: 100px;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
}

/* Add padding/margin to the right of the last service item */
.service-item:nth-child(3n) {
    margin-right: 20px; /* Adjust this value as needed */
}

/* Responsive styles */
@media (max-width: 1024px) {
    .section1 .content-section1 h2 {
        font-size: 58px;
    }

    .service-item {
        flex: 0 1 45%;
    }

    .service-item h3 {
        font-size: 18px;
    }

    .service-item p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .section1 {
        width: 100%;
    }

    .section1 .content-section1 {
        margin-left: -12%;
        padding: 39px;
    }

    .section1 .content-section1 h2 {
        font-size: 58px;
    }

    .service-section {
        flex-direction: column;
        align-items: center;
        margin-left: -24px;
    }

    /* Global h2 styles */
h2 {
    font-size: 50px; /* Set all h2 headings to 58px */
}

    .service-item {
        flex: 0 1 90%;
        margin: 13px 0px;
        max-width: 100%;
        width: 74%;
    }

    .service-item img {
        max-width: 80px; /* Reduce image size */
        margin-bottom: 15px;
    }

    .service-item h3 {
        font-size: 16px; /* Reduce font size for headings */
    }

    .service-item p {
        font-size: 12px; /* Reduce font size for paragraphs */
    }

    h4 {
        font-size: 25px;
        font-weight: 100;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .service-item:nth-child(3n) {
        margin-right: -4px;
    }
}


